.navbar {
  font-size: 1.5rem;
  padding: 3.5rem 0;
  border-bottom: 1px solid var(--color-grey-1-rgb);
  display: flex;
  flex-direction: row;
}

.navbar__container {
  width: 80%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

.logo {
  height: 25px;
}

.nav-list {
  list-style: none;
  text-transform: uppercase;

  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 3rem;
}

.nav-link {
  color: var(--color-dark-1);
  text-decoration: none;
}

.nav-btn {
  background-image: var(--primary-gradient);
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 2.2rem;
}
