.welcome {
  text-align: center;
  width: 60rem;
  margin: 0 auto;
}

.welcome p {
  color: var(--color-primary);
  font-size: 1.8rem;
}

.welcome ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.welcome ul li a {
  text-decoration: none;
  color: var(--color-grey-2);
  border-bottom: 1px solid var(--color-primary);
  text-transform: uppercase;
  padding: 0.5rem 0;
}
