:root {
  --color-primary: #2bde8c;
  --color-primary-light: #86f244;

  --color-dark-1: #707070;
  --color-dark-2: #e2e2e2;
  --color-dark-3: #a7a7a7;
  --color-dark-4: #6a6a6a;

  --color-grey-1: #717171;
  --color-grey-1-rgb: rgba(112, 112, 112, 0.23);

  --primary-gradient: linear-gradient(to right, #2bde8c, #86f244);
  --primary-gradient-reverse: linear-gradient(
    to bottom right,
    #86f244,
    #2bde8c
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.container {
  width: 80%;
  margin: 6.5rem auto;
}

.heading1 {
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

.paragraph1 {
  font-size: 1.6rem;
}
